@font-face {
  font-family: "HeaderFont";
  src: url("../public/fonts/QuincyCF/QuincyCF-Regular.otf") format("opentype");
}

@font-face {
  font-family: "spanfont";
  src: url("../public/fonts/Larsseit/Larsseit.otf") format("opentype");
}

@font-face {
  font-family: "spanfontbold";
  src: url("../public/fonts/Larsseit/Larsseit-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SubHeaderFont";
  src: url("../public/fonts/QuincyCF/QuincyCF-Thin.otf") format("opentype");
}

.furniture-store {
  max-width: 1350px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 28px;
  font-family: HeaderFont;
  font-weight: 400;
}

.header-menu {
  max-width: 530px;
  max-height: 30px;
  display: flex;
  overflow: hidden;
  padding: 8px;
  height: 48px;
  background-color: rgb(236, 235, 231);
  position: sticky;
  top: 0;
  z-index: 1;
  gap: 10px;
  width: fit-content;
  border-radius: 24px;
  margin-left: 250px;
  transition: all 0.15s ease-in-out 0s;
  margin-left: 180px;
}

.scrolled {
  position: fixed;
  width: 100%;
  top: 0px;
  margin-top: 30px;
  background: rgb(236, 235, 231);
  transition: all 0.2s ease-in-out 0s;
  z-index: 9999999;
  margin-left: 190px;
}

.scrolled::before {
  content: "";
  display: block;
  height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 1);
  z-index: 9999998;
  margin-left: -100px;
}

.category-item {
  cursor: pointer;
  padding: 5px 15px;
}

.category-item.active {
  color: white;
  background-color: rgb(11, 35, 65);
  border-radius: 15px;
}

.category-section {
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
}

.furniture-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.furniture-item {
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  position: relative;
}

.furniture-item img {
  width: 100%;
  height: 320px;
  border-radius: 24px;
}

.furniture-name {
  font-family: spanfontbold;
  font-size: 17px;
}

.furniture-customize {
  font-size: 15px;
  max-width: 100px;
  font-family: spanfont;
  color: rgb(83, 84, 138);
}

.furniture-price,
.furniture-customize-inline,
.furniture-discount {
  font-size: 15px;
  max-width: 100px;
  font-family: spanfont;
  color: rgb(83, 84, 138);
  display: inline;
}

.furniture-discount {
  font-family: spanfontbold;
  color: rgb(179, 92, 30);
}

.h1-class {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -110px;
  margin-top: 0;
  font-size: 60px;
  font-family: HeaderFont;
  color: rgb(43, 44, 110);
  margin-inline-end: 1080px;
}

.span-class {
  color: rgb(25, 20, 43);
  margin-inline-end: 1230px;
  font-size: 20px;
  font-family: spanfont;
  margin-left: 140px;
}

.sub-heading {
  font-family: HeaderFont;
  color: rgb(43, 44, 110);
  font-size: 52px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
}

@media (max-width: 1280px) {
  .sub-heading {
    font-size: 32px;
    text-align: left;
  }
}

.body-class {
  background-color: white;
}

.image-container {
  width: 100%;
  height: 320px;
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid rgb(236, 235, 231);
}

.image-container img {
  width: 100%;
  height: 320px;
  border: 10px Black;
}

.furniture-details {
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
}

.furniture-info {
  border-radius: 8px;
}

.customize-link {
  text-decoration: none;
  font-family: spanfontbold;
  color: rgb(105, 162, 255);
}

.color-container {
  position: absolute;
  bottom: 70px;
  z-index: 9998;
  right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 6px 6px 20px;
  gap: 30px;
  height: 22px;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(190, 200, 219);
  border-radius: 100px;
  cursor: pointer;
}

.color-name {
  height: 12px;
  font-family: spanfontbold;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: right;
  color: rgb(79, 96, 118);
}

.color-display-Black {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: rgb(10, 9, 8);
}

.color-display-Oak {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: rgb(221, 181, 134);
}

.color-display-Walnut {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: rgb(88, 47, 17);
}

.color-display-Twilight {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: rgb(153, 153, 153);
}

@media (max-width: 768px) {
  .furniture-item {
    width: 100%;
  }
  .header-menu {
    margin-left: 0;
    height: 500px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 100px;
  }

  .category-section {
    margin-top: 20px;
    padding: 10px;
  }

  .span-class {
    margin-left: -500px;
    margin-inline-end: 0;
  }

  .scrolled {
    position: fixed;
    width: 100%;
    top: 0px;
    margin-top: 30px;
    background: rgb(236, 235, 231);
    transition: all 0.2s ease-in-out 0s;
    z-index: 9999999;
    margin-left: 0px;
  }

  .scrolled::before {
    content: "";
    display: block;
    height: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 9999998;
    margin-left: -100px;
  }

  .h1-class {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    margin-top: 0;
    font-size: 60px;
    font-family: HeaderFont;
    color: rgb(43, 44, 110);
    margin-inline-end: 1080px;
  }
}

@media (max-width: 480px) {
  .furniture-item {
    width: 100%;
  }
  .header-menu {
    margin-left: 0;
    margin-top: 10px;
    padding-bottom: 15px;
    height: 100%;
    position: sticky;
    top: 0;
    width: 95%;
  }

  .category-section {
    margin-top: 20px;
    padding: 10px;
  }

  .category-item.active {
    color: white;
    background-color: rgb(11, 35, 65);
    border-radius: 15px;
    height: 33px;
  }

  .span-class {
    margin-left: -210px;
    margin-inline-end: 0;
  }

  .scrolled {
    position: fixed;
    width: 95%;
    top: 0px;
    margin-top: 30px;
    background: rgb(236, 235, 231);
    transition: all 0.2s ease-in-out 0s;
    z-index: 9999999;
    margin-left: 0px;
  }

  .scrolled::before {
    content: "";
    display: block;
    height: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 9999998;
    margin-left: -100px;
  }
}
